<!DOCTYPE html>
<html>
  <head>
    <title>SIGED</title>

    <% /* Viewport tag for sensible mobile support */ %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <% /*
        Stylesheets
        ========================

        Stylesheets can be hard-coded as «link» tags, automatically injected
        by the asset pipeline between "STYLES" and "STYLES END", or both.
        (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Auto-injected «link» tags: */ %>






    <link href="/dependencies/api/build/css/iziModal.css" rel="stylesheet"> 
    <!-- Font Awesome -->
    <link href="/dependencies/api/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/dependencies/api/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="/dependencies/api/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="/dependencies/api/build/css/custom.min.css" rel="stylesheet">
    <link href="/dependencies/api/build/css/iziToast.min.css" rel="stylesheet"> 
        

    <!-- DATA TABLES DESIGNS -->
    <link href="/dependencies/api/vendors/datatables.net/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/dependencies/api/vendors/datatables.net/css/responsive.bootstrap.min.css" rel="stylesheet">

  </head>

  <body class="nav-md">
    <div style="display: none">
      <input type="text" id="userId" value="<%= me.id %>" name="userId">
    </div>
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">               
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-book"></i> <span>SIGED</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/images/img.png" alt="api." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvedio!</span>
                <h2><%= me.fullName %></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="./welcome"><i class="fa fa-home"></i> Mis gestiones</a></li>
                  <li><a><i class="fa fa-edit"></i> Catálogo <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/indexUsuarios">Usuarios</a></li>
                      <li><a href="/dependencias">Unidades Organizativas</a></li>                      
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> Documentos Públicos</a>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/images/img.png" alt=""><%= me.fullName %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/account"> Mi perfil</a></li>
                    <li><a href="/account/password"> Cambiar contraseña</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.png" alt="Profile Image" /></span>
                        <span>
                          <span><%= me.fullName %></span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were whereapi.
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.png" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were whereapi.
                        </span>
                      </a>

                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.png" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were whereapi.
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="/images/img.png" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were whereapi.
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->

        <div class="right_col" role="main">
      <%- body %>

       <!-- end of weather widget -->
          </div>

    <% /*
      Client-side JavaScript
      ========================

      Scripts can be hard-coded as «script» tags, automatically injected
      by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
      (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Load Stripe Checkout */ %>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>

  
        <!-- /page content -->

        <!-- footer content -->
        <footer>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
        <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>

 <!-- jQuery -->
    <script src="/dependencies/api/vendors/jquery/dist/jquery.min.js"></script>
        <script src="/dependencies/bowser.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/ajax-button.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/components/modal.component.js"></script>
    <script src="/js/utilities/open-stripe-checkout.js"></script>

      <!-- Custom TOAST MESSAGES -->
    <script src="/dependencies/api/build/js/iziModal.min.js"></script>
    <script src="/dependencies/api/build/js/iziToast.js"></script>

    <!-- Bootstrap -->
    <script src="/dependencies/api/vendors/bootstrap/dist/js/bootstrap.min.js"></script> 
    <script src="/dependencies/api/vendors/nprogress/nprogress.js"></script>
  
    <script src="/dependencies/api/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

   


    <!-- Custom Theme Scripts -->
    <script src="/dependencies/api/build/js/custom.min.js"></script>



    <script src="/dependencies/api/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/dependencies/api/vendors/datatables.net/js/dataTables.bootstrap.min.js"></script>
    <script src="/dependencies/api/vendors/datatables.net/js/dataTables.responsive.min.js"></script>
    <script src="/dependencies/api/vendors/datatables.net/js/responsive.bootstrap.min.js"></script>

       <script>
         var getUrl = window.location;
         var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        $(document).ready(function(){        
          cargaCustomMin();
          if(typeof init === 'function'){
                init();
            }
        });
    </script>

  </body>
</html>
